<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeautomation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Developers"></activity>
        <activity android:name=".EmailRegistration" />
        <activity android:name=".BedActivity" />
        <activity android:name=".LivingActivity" />
        <activity android:name=".KitchenActivity" />
        <activity android:name=".OfficeActivity" /> <!-- ForeGround Services -->
        <activity android:name=".PopUpAutochargeConfig" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".timer" />

        <service
            android:name=".MyForeGroundServicePhoneAuto"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServicePhoneAutoON"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServicePhoneAutoOFF"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServicePhoneON"
            android:enabled="true"
            android:exported="true" /> <!-- Activities -->
        <service
            android:name=".MyForeGroundServicePhoneOFF"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServiceLaptopON"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServiceLaptopOFF"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServiceExtraON"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForeGroundServiceExtraOFF"
            android:enabled="true"
            android:exported="true" /> <!-- QS Tile Services -->
        <service
            android:name=".MyTileService_phone_autocharge"
            android:icon="@drawable/ic_autorenew_cellphone_android"
            android:label="@string/tile_phone_autocharge"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyTileService_phone"
            android:icon="@drawable/ic_cellphone_android"
            android:label="@string/tile_phone"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyTileService_laptop"
            android:icon="@drawable/ic_laptop_chromebook"
            android:label="@string/tile_laptop"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyTileService_extra"
            android:icon="@drawable/ic_power_socket_de"
            android:label="@string/tile_extra"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>